/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/vendor_
/vendor__
/.idea
/.vagrant
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
# .env

initOnlyLaravel
initServer

public/mix-manifest\.json

package-lock\.json

resources/views/template/layout2\.blade\.php

public/css/app\.css

composer\.lock

public/js/app\.js

public/css/style\.css

########
##

/dist
/actiontravel/Backup
/twatch
/wsdl
/stats
/config/datatables
/config/ckeditor
/config/back
/v2018_dev
/img-firma
/img
/images
/digital
/digital20162delete
/new1
/newsletter
/fontawesome
/admin/ckfinder3.4.3
/carrousel
/webmail/images
/Local-cgi
/admin/kcfinder-3.12
/admin/colorpicker
/admin/ckeditor
/js/fancybox
/accesoFranquicias/js/demo
files/catalogo/
/vendor
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
yarn\.lock
.DS_Store
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
*.svg
*.eot
*.woff
*.ttf
*.rar
*.zip
*.exe
*.bat
*.PNR
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi
*.zip
*~
composer\.lock
package-lock\.json
public/mix-manifest\.json
